
<div id="divEdit">
    @Html.Action("_Create","SYS_Account",null)
</div>
<div id="divList">
    @Html.Action("_List","SYS_Account",null)
</div>


@Html.Action("_PopupEmployeePartial", "SYS_Account", null)


