<div class="row">
    <div class="col-md-6">
        <div id="divList">
            @Html.Action("List", "ContentItem", new { @ContentType = 1 })
        </div>
    </div>
    <div class="col-md-6">
        <div id="divEdit">
            @Html.Action("Create", "ContentItem", null)
        </div>
    </div>
</div>