@{
    ViewBag.Title = Eagle.Resource.LanguageResource.FunctionName_AddSalaryByPosition;
    Layout = Eagle.Repository.UI.Layout.LayoutType.MainLayout;  
}
@section ContentSection
{
<div id="main-data">
    <div id="divEdit">
        @Html.Action("_Create", "AddSalaryByPosition", null)
    </div>
    <div id="divList">
        @Html.Action("_List", "AddSalaryByPosition", null)
    </div>
</div>
    }
@section Scripts{
<script type="text/javascript">
    $('#changeSidebarPos').trigger('click');
    
    // region click edit
    $(document).on("click", ".editItem", function () {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        $.ajax({
            type: "GET",
            url: areas + '/AddSalaryByPosition/_Edit' + '/' + lsID,
            success: function (data) {
                //Create edit form
                $('#divEdit').html(data);
                //Add => Edit
                $('#btnAdd').removeClass("AddModel").addClass("EditModel");
                //
                return false;
            }
        })
        return false;
    });

    $(document).on("click", "#btnAdd", function () {
       
        if ($('#btnAdd').hasClass("AddModel")) {
            //Add new Account
            var url = areas + '/AddSalaryByPosition/Save';
            var urlCreate = '/AddSalaryByPosition/Index';
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: areas + urlCreate,
                            success: function (data) {
                                $('#main-data').html(data);
                                AlterAddSuccess();
                                return false;
                            }
                        });
                    } else {
                        $('#divEdit').html(data);
                        return false;
                    }
                }
            });
        } else {
            // Update Account
            var url = '@Url.Action("Update", "AddSalaryByPosition")';
            var urlCreate = '/AddSalaryByPosition/Index';
           
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: areas + urlCreate,
                            success: function (data) {
                            $('#main-data').html(data);
                                AlterUpdateSuccess();
                            }
                        });
                    } else if (data == 'timeout') {
                        window.location.href = '/';
                    }
                    else {
                        $('#divEdit').html(data);
                    }
                    return false;
                }
            });
        };
    });
    // reset form
    $(document).on("click", "#btnReset", function () {
        var urlCreate = '/AddSalaryByPosition/_Create';
        $.ajax({
            type: "GET",
            url: areas + urlCreate,
            success: function (data) {
                $('#divEdit').html(data);
            }
        });
    });
    function checkDivCurrency(type) {

        if ($("#CASH").prop("checked") == false) {
            if (!$('.divCurrency').hasClass("hidden")) {
                $('.divCurrency').addClass("hidden");
            }
        }
        else {
            if ($('.divCurrency').hasClass("hidden")) {
                $('.divCurrency').removeClass("hidden");
            }
        }
    }
    $(document).ready(function () {
        checkDivCurrency();
    });
    $(document).on("change", ".PaymentMethod", function () {
        var type = $(this).val();
        checkDivCurrency();
    });
</script>
}