<div class="footer-container">   
    <div class="footer-innner">
        <p>Proudly Made by UNIT Corp - Viet Nam </p>
    </div>   
</div>


@*<script type="text/javascript">        
    $(document).ready(function () {       
        $.browser.chrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase()); 
        if ($.browser.chrome) {            
            // IF Chrome 
            $("#notification_count").css("margin-top","-29px");
        }
    });    
</script>*@