<div class="breadcrumbs">
    <ul class="breadcrumb">
        <li><a href="/Administrator/Home/Index" class="sf-with-ul" style="margin-right: 5px"><img style="width: 13px; height: 13px; margin-right: 2px;" src="~/Images/icons/icon_home.png" />Trang chủ</a></li>
        @*@Html.MvcSiteMap().SiteMapPath()*@
    </ul>
</div>