@model String
    <select name="@Model" id="@Model" class="dropdown-toggle btn-select width-150 height-26">
        <option value="" selected="selected"> --- Chọn tất cả --- </option>
        <option value="1">Còn hoạt động</option>
        <option value="0">Ngừng hoạt động</option>
    </select>