@{
    ViewBag.Title = Eagle.Resource.LanguageResource.CandidateList;
    Layout = Eagle.Repository.UI.Layout.LayoutType.FullMainLayout;
}
@section ContentSection
{
<div id="MainBody">
   @Html.Partial("../Business/HumanResources/REC/CandidateList/_Reset")
</div>


}
<script type="text/javascript">
    var urlReset = areas + "/CandidateList/_List"
    var urlCreate = areas + "/CandidateList/_Create"
    var urlDelete = areas + "/CandidateList/_Delete/"

    $(document).on("click", "#btnAdd", function () {
        $("body").addClass("loading");
        $.ajax({
            type: "POST",
            url: urlReset,
            data: $("#frmAdd").serialize(),
            success: function (data) {
                $('#divList').html(data);
            }
        });
    });

    $(document).on("click", "#btnReset", function () {
        $("body").addClass("loading");
        $.ajax({
            type: "GET",
            url: urlCreate,
            data: $("#frmAdd").serialize(),
            success: function (data) {
                $('#divEdit').html(data);
            }
        });
    });

    /*Delete all checked*/
    $(document).on("click", "#btnDelete", function () {
        
        $("body").addClass("loading");
        $.ajax({
            type: "POST",
            url: areas + "/CandidateList/_DeleteList",
            data: $("#frmList").serialize(),
            success: function (data) {
                if (data == 'success') {
                    $.ajax({
                        type: "POST",
                        url: urlReset,
                        data: $("#frmAdd").serialize(),
                        success: function (data) {
                            $('#divList').html(data);
                        }
                    });
                } else {
                    AlterWarning(data);
                }
                
            }
        });
    });
    

    // Click delete (get)
    $(document).on("click", ".deleteItem", function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu

        bootbox.confirm("@Html.Raw(Eagle.Resource.LanguageResource.DoYouWantToContinue)", function (result) {
            if (result) {
             
                $("body").addClass("loading");
                $.ajax({
                    type: "POST",
                    url: urlDelete + lsID,
                    success: function (data) {
                        if (data == 'success') {
                            $.ajax({
                                type: "GET",
                                url: urlReset,
                                success: function (data) {
                                    $('#divList').html(data);
                                    AlterDeleteSuccess();
                                    $('html, body').animate({ scrollTop: 80 }, 'slow');
                                }
                            });
                        } else {
                            AlterWarning(data);
                            $('html, body').animate({ scrollTop: 80 }, 'slow');
                        }
                    }
                })
                return false;

            }
        });

    });


    $(document).on("change", "#chkAll", function () {
        if ($(this).attr('checked')) {
            $("input[name='chkDelete']").prop("checked", true)
        } else {
            $("input[name='chkDelete']").prop("checked", false)
        }

    });
    $(document).ready(function () {
        $('#changeSidebarPos').trigger('click');
    });
</script>