
@Html.Action("_CandidateBox","Candidate",null)

<div class="form-horizontal">

<div id="divEdit">
    @Html.Partial("../Business/HumanResources/REC/CandidateInformation/InputAreasPartial")
</div>
    <div class="row">
        <div class="footbar">
            <div>                
                <input type="button" id="btnReset" class="btn btn-default reset" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Reset" />
                <input type="button" id="btnAdd" class="btn btn-info add" value="@Eagle.Resource.LanguageResource.Save" />
            </div>
        </div>
    </div>
    <!--End.row-->
</div>

