<div id="main-data">
    <div id="divEdit">
        @Html.Action("_Create", "InsuranceExchangeRate", null)
    </div>
    <div id="divList">
        @Html.Action("_List", "InsuranceExchangeRate", null)
    </div>
</div>