@{
    ViewBag.Title = Eagle.Resource.LanguageResource.PlanList;
    Layout = Eagle.Repository.UI.Layout.LayoutType.FullMainLayout;
}

@section ContentSection
{
<div id="MainBody">
   @Html.Partial("../REC/PlanList/_Reset")
</div>

@Html.Action("ConfirmPopup","Common",null)
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#changeSidebarPos').trigger('click');
        $('#btnAdd').trigger('click');
    });
    var urlDelete = "_Delete?Id=";
    var urlReset = "_List";
    $(document).on("click", "#btnAdd", function () {
        if (!$("#frmAdd").valid()) {
            return false;
        } else {
            $("body").addClass("loading");
            $.ajax({
                type: "POST",
                url: '_List',
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    $('#divList').html(data);
                }
            });
        }
    });

    $(document).on("click", "#btnReset", function () {
        $("body").addClass("loading");
        $.ajax({
            type: "GET",
            url: urlCreate,
            success: function (data) {
                $('#divEdit').html(data);
            }
        });
    });

    /*Delete all checked*/
    $(document).on("click", "#btnDelete", function () {
        
        $("body").addClass("loading");
        $.ajax({
            type: "POST",
            url: areas + "/CandidateList/_DeleteList",
            data: $("#frmList").serialize(),
            success: function (data) {
                if (data == 'success') {
                    $.ajax({
                        type: "POST",
                        url: urlReset,
                        data: $("#frmAdd").serialize(),
                        success: function (data) {
                            $('#divList').html(data);
                        }
                    });
                } else {
                    AlterWarning(data);
                }
                
            }
        });
    });
    

    // Click delete (get)
    $(document).on("click", ".deleteItem", function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        $('#confirm')
            .modal({ backdrop: 'static', keyboard: false })
            .one('click', '[data-value]', function (e) {
                if ($(this).data('value')) {
                    $("body").addClass("loading");
                    $.ajax({
                        type: "POST",
                        url: urlDelete + lsID,
                        success: function (data) {
                            if (data == 'success') {
                                $.ajax({
                                    type: "POST",
                                    url: urlReset,
                                    data: $("#frmAdd").serialize(),
                                    success: function (data) {
                                        $('#divList').html(data);
                                        AlterDeleteSuccess();
                                        $('html, body').animate({ scrollTop: 80 }, 'slow');
                                    }
                                });
                            } else {
                                AlterWarning(data);
                                $('html, body').animate({ scrollTop: 80 }, 'slow');
                            }
                        }
                    })
                    return false;
                }
            });
    });

    $(document).on("click", ".closeItem", function () {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        $('#confirm')
            .modal({ backdrop: 'static', keyboard: false })
            .one('click', '[data-value]', function (e) {
                if ($(this).data('value')) {
                    $("body").addClass("loading");
                    $.ajax({
                        type: "POST",
                        url: "ClosingPlan/" + lsID,
                        success: function (data) {
                            if (data == 'success') {
                                $.ajax({
                                    type: "POST",
                                    url: urlReset,
                                    data: $("#frmAdd").serialize(),
                                    success: function (data) {
                                        $('#divList').html(data);
                                        AlterDeleteSuccess();
                                        $('html, body').animate({ scrollTop: 80 }, 'slow');
                                    }
                                });
                            } else {
                                AlterWarning(data);
                                $('html, body').animate({ scrollTop: 80 }, 'slow');
                            }
                        }
                    })
                    return false;
                }
            });
    });
</script>