<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header"><a href="/home">@Html.Raw(Eagle.Resource.LanguageResource.HomePage)</a></li>      
         <li class="nav-header"><a href="#">@Html.Raw(Eagle.Resource.LanguageResource.Recruitment)</a></li>        
        <li class="dropdown-submenu">
            <a href="/home">@Html.Raw(Eagle.Resource.LanguageResource.Statistics)</a>
            <ul class="dropdown-menu">
                <li><a href="#">sub test 01</a></li>
                <li><a href="#">sub test 02</a></li>
            </ul>
        </li>        
    </ul>
</div>