<form id="frmAdd" class="form-horizontal">
    @Html.Hidden("EmployeeSelectedList")
    <div id="divEdit">
        @Html.Action("_HICardCreate")
    </div>
    <div id="divList">
        @Html.Action("_HICardList")
    </div>
</form>


