body {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url("../images/bg.png") repeat #444;
     font: 12px "Helvetica Neue", Arial, sans-serif;	
}
.container {
    padding-top:35px;
}
.panel {
    background-color:transparent !important;
    box-shadow:none;
    -webkit-box-shadow:none;
    border:none;
    margin-bottom:0px;
}
.panel-footer {
    background-color:transparent;
    border:none;
}
.logo {
    margin:10px;
    text-align:center;

}
.remember-me {
    float:left;
}
.forgot-password{
    float:right;
    padding-top:6px;
}
.colorgraph {
height: 5px;
border-top: 0;
background: #c4e17f;
border-radius: 5px;
background-image: -webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
background-image: -moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
background-image: -o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
background-image: linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-signin input[type="email"]:focus  {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}

 label {
    display:inline !important;
}
.loginbox {   
    margin:0px 150px 0px 150px;
    padding-top:100px;
}
.login-box .form-horizontal .controls {
    margin-left:0px;
}
.login-box .checkbox input[type="checkbox"] {
    margin:4px 5px 0px 0px !important;    
}
.login-box {
    margin:10px 0px 0px 0px;
    background: none;
    padding:8px 20px;
    width:240px;
    -moz-border-radius: 15px;
    border-radius: 8px;
}
fieldset {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
}
.login-box input.form-control {
    width:200px;
}

.login-box .separator {
    border-bottom: 1px solid #E5E3E3;
}

.menu_top, .title_top {
    display:none;
}
#push {
    display:none;
}
.login_center {
    padding:10px;
    text-align:center;
}
.row-fluid {
padding-bottom: 0px;
}
.footer {
    text-align:left;
    padding:10px 0px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
 margin: 0px;
}
/*

.radio label, .checkbox label {
    padding-left: 0px;
}*/