#LeftPane {
    display: none;
    float: left;
    position: relative;
    width: 0%;
}
#ContentPane {
   /* margin-left: 220px;*/
    float:left;
    margin-right: 0;
    transition: margin-left 0.4s ease 0s;
    width:100%;      
}


.hide-sidebar #LeftPane {
  display: block !important;
  width: 23.2%;
  }
  
.hide-sidebar #ContentPane {
    /*margin: auto  0px !important;*/   
    margin: 0px 0px 0px 10px;
    width:75.7% !important;   
}