@{
    ViewBag.Title = Eagle.Resource.LanguageResource.TrainingApprisalItem;
    Layout = Eagle.Repository.UI.Layout.LayoutType.MainLayout;
}
@section ContentSection
{
<div id="MainBody">
   @Html.Partial("../Business/HumanResources/Training/TrainingApprisalItem/_Reset")
</div>
    }
<!--Confirm box-->
@Html.Action("ConfirmPopup","Common",null)

<script>    
    var Controller = 'TrainingApprisalItem';

    //Url Reset (Get)
    var urlReset = areas + '/' + Controller + '/Index';

    //Url Add New Item (Post)
    var urlAddNew = areas + '/' + Controller + '/Save';

    //Url Update (Get)
    var urlEdit = areas + '/' + Controller + '/_Edit/';

    //Url Update (Post)
    var urlUpdate = areas + '/' + Controller + '/Update';

    //Url Delete (Post)
    var urlDelete = areas + '/' + Controller + '/Delete/';
    
    $('#changeSidebarPos').trigger('click');
</script>

<script>       
    function DeleteRowOfTrainingAnswer(row) {

        var lsID = $(row).closest('tr').attr('id');
        var code = $("input[name='[" + lsID + "].LSTrainingAnswerTypeCode']").val();
        var urlDelete = areas + "/TrainingApprisalItem/DeleteRowOfTrainingAnswer?LSTrainingAnswerTypeCode=" + code;
        
        $.ajax({
            type: "POST",
            url: urlDelete,
            data: $("#frmAdd").serialize(),
            success: function (data) {

                $('#divListOfTrainingAnswer').html(data);
            }
        });
    }
    $(document).on("click","#btnAddRow",function () {
        $("body").addClass("loading");
        //Search danh sach nhan vien         
        var url = areas + '/TrainingApprisalItem/AddRowOfTrainingAnswer'; 
        $.ajax({
            type: "POST",
            url: url,
            data: $("#frmAdd").serialize(),
            success: function (data) {
                $('#divListOfTrainingAnswer').html(data);
            }
        });
    });    

    $(document).on("click", "#btnAdd", function () {
        
        $("body").addClass("loading");
        if ($('#btnAdd').hasClass("AddModel")) {
            //Add new Item
            $.ajax({
                type: "POST",
                url: urlAddNew,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: urlReset,
                            success: function (data) {
                                $('#MainBody').html(data);
                                AlterAddSuccess();
                            }
                        });
                    } else if (data == 'timeout') {
                        window.location.href = '/';
                    } else {
                        $('#divEdit').html(data);
                        $('html, body').animate({ scrollTop: 80 }, 'slow');
                    }
                }
            });
        } else {
            $("body").addClass("loading");
            // Update Item
            $.ajax({
                type: "POST",
                url: urlUpdate,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: urlReset,
                            success: function (data) {
                                $('#MainBody').html(data);
                                AlterUpdateSuccess();
                            }
                        });
                    } else if (data == 'timeout') {
                        window.location.href = '/';
                    }
                    else {
                        $('#divEdit').html(data);
                        $('#btnAdd').removeClass("AddModel").addClass("EditModel");
                        $('html, body').animate({ scrollTop: 80 }, 'slow');
                    }
                }
            });           
        }
    });
    // Reset form
    $(document).on("click", "#btnReset", function () {
        $("body").addClass("loading");
        $.ajax({
            type: "GET",
            url: urlReset,
            success: function (data) {
                $('#MainBody').html(data);

            }
        });
    });

    // Click edit (get)
    $(document).on("click", ".editItem", function () {
        $("body").addClass("loading");
        var lsID = $(this).data('id');  // ID cua dong du lieu

        $.ajax({
            type: "GET",
            url: urlEdit + lsID,
            success: function (data) {
                //Create edit form
                $('#divEdit').html(data);
                //Add => Edit
                $('#btnAdd').removeClass("AddModel").addClass("EditModel");
            }
        })
        //Go to top
        $('html, body').animate({ scrollTop: 80 }, 'slow');
        return false;
    });

    function DeleteRowOfTrainingApprisalItem(row) {
        var lsID = $(row).data('id');  // ID cua dong du lieu

        $('#confirm')
            .modal({ backdrop: 'static', keyboard: false })
            .one('click', '[data-value]', function (e) {
                if ($(this).data('value')) {
                    $("body").addClass("loading");
                    $.ajax({
                        type: "POST",
                        url: urlDelete + lsID,
                        success: function (data) {
                            if (data == 'success') {
                                $.ajax({
                                    type: "GET",
                                    url: urlReset,
                                    success: function (data) {
                                        $('#MainBody').html(data);
                                        AlterUpdateSuccess();
                                        $('html, body').animate({ scrollTop: 80 }, 'slow');
                                    }
                                });
                            } else {
                                $('#divEdit').html(data);
                                $('html, body').animate({ scrollTop: 80 }, 'slow');
                            }
                        }
                    })
                    return false;
                }
            });
        
    }
    
</script>