<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> 

    <link href="~/Themes/Default/Content/css/style_error.css" rel="stylesheet" />
    <script src="~/Themes/Default/Content/js/jquery-1.11.1.js"></script>
    <script src="~/Themes/Default/Content/js/bootstrap.js"></script>
</head>
<body>
    <div id="container">
        @RenderBody()
    </div>
    <div class="loading-modal"></div>
</body>
</html>

