@{
    ViewBag.Title = Eagle.Resource.LanguageResource.Interview;
    Layout = Eagle.Repository.UI.Layout.LayoutType.FullMainLayout;
}

@section ContentSection
{
<div id="MainBody">
   @Html.Partial("../Business/HumanResources/REC/CandidateTournament/_Reset")
</div>


}
<script type="text/javascript">
    var urlDelete = "_Delete?Id=";
    var urlReset = "_List";
    $(document).on("click", "#btnAdd", function () {
        if (!$("#frmAdd").valid()) {
            return false;
        } else {
            $("body").addClass("loading");
            $.ajax({
                type: "POST",
                url: '_List',
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    $('#divList').html(data);
                }
            });
        }
    });

    $(document).on("change", "#ProjectID", function () {
        var options = {};
        options.url = "GetTournaments";
        options.type = "POST";
        options.data = JSON.stringify({ ProjectID: $(this).val() });
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (data) {
            $("#ProjectTournamentID").empty();
            for (var i = 0; i < data.length; i++) {
                $("#ProjectTournamentID").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");
            }
            $("#ProjectTournamentID").prop("disabled", false);
        };
        options.error = function () { alert("Error retrieving states!"); };
        $.ajax(options);
    });

    $(document).on("click", ".editItem", function () {
        $("body").addClass("loading");
        var url = $(this).data("id");
        url = url + "&ProjectID=" + $("#ProjectID").val();
        url = url + "&Result=" + $("#Result").val();
        url = url + "&ProjectTournamentName=" + $("#ProjectTournamentID option:selected").text();
        url = url + "&FullName=" + $("#FullName").val();

       
        window.location.href = url;
    });

    $(document).ready(function () {
        $("#btnAdd").trigger("click");
    });
</script>