@{
    Layout = "~/Themes/Default/Views/Shared/AdminLayouts/FullMainLayout.cshtml";
}

@section ContentSection
{
    <div id="MainBody" class="main_box">
        <div id="out-box" class="row">
            skin packages
        </div>
    </div>
}