@{
    ViewBag.Title = Eagle.Resource.LanguageResource.FunctionName_Shift;
    Layout = Eagle.Repository.UI.Layout.LayoutType.MainLayout; 
}
@section ContentSection
{
<div id="main-data">
@Html.Action("_List","Shift",null)
</div>
    }