@{
    ViewBag.Title = @Html.Raw(Eagle.Resource.LanguageResource.ProbationaryStatistics);
    Layout = Request.IsAjaxRequest() ? null : Eagle.Repository.UI.Layout.LayoutType.SharedLayout;
}

<div class="content-wrapper">
    <div id="MainBody" class="main_box">  
        <div id="NewHireContainer">
            @Html.Partial("../Services/Probation/_ProbationaryService")  
        </div>
    </div>
</div>