<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <add name="LocalSqlServer" connectionString="Data Source=.;Initial Catalog=5eagles_eCMS;Integrated Security=False;Persist Security Info=False;;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework;Connect Timeout=280" providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=5eagles_eCMS;Integrated Security=False;Persist Security Info=False;;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework;Connect Timeout=280" providerName="System.Data.SqlClient" />
  <add name="EntityDataContext" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=5eagles_eCMS;persist security info=True;user id=sa; password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
