<?xml version="1.0"?>
<appSettings>
  <clear />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="WebUI" />
  <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
  <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  <add key="image_types" value=".gif,.jpg,.jpeg,.bmp,.png,.tiff,.swf" />
  <add key="video_types" value=".flv,.mpg,.avi,.3gp,.mov,.mp4" />
  <add key="DOMAIN_URL" value="http://hrm.unit.vn/" />
  <add key="ReportSettingFilePath" value="~/Areas/Admin/Reports/ReportSettings.xml" />
  <add key="vs:EnableBrowserLink" value="false" />

  
  <add key="DefaultThemeName" value="Default" />
  <add key="DefaultThemeSource" value="~/Themes/Default/Views/Shared/MainLayout.cshtml" />
  
  <add key="DatabaseName" value="5eagles_eCMS" />
  <add key="objectQualifier" value="" />
  <add key="databaseOwner" value="dbo" />
  <add key="databaseVersion" value="01.00.00" />
</appSettings>