<div class="row">
    <div id="divModuleList" class="col-md-4">
        @Html.Action("List", "Module", null)
    </div>

    <div id="divEdit" class="col-md-8">
        @Html.Action("Create", "Module", null)
    </div>
</div>