@{
    ViewBag.Title = Eagle.Resource.LanguageResource.FunctionName_TimesheetCyclic;
    Layout = Eagle.Repository.UI.Layout.LayoutType.MainLayout;  
}
@section ContentSection
{
<div id="main-data">
    @Html.Partial("../Business/HumanResources/Timesheet/Cyclic/_Reset")
</div>
    }
@section Scripts{

<script type="text/javascript">
    // region click edit
    $(document).on("click", ".editItem", function () {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        $.ajax({
            type: "GET",
            url: areas + '/Cyclic/_Edit' + '/' + lsID,
            success: function (data) {
                //Create edit form
                $('#divEdit').html(data);
                //Add => Edit
                $('#btnAdd').removeClass("AddModel").addClass("EditModel");
                //
                return false;
            }
        })
        return false;
    });
    $(document).on("click", "#btnAdd", function () {
       
        if ($('#btnAdd').hasClass("AddModel")) {
            //Add new Account
            var url = areas + '/Cyclic/Save';
            var urlCreate = '/Cyclic/Index';
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: areas + urlCreate,
                            success: function (data) {
                                $('#main-data').html(data);
                                //
                                AlterAddSuccess();
                                return false;
                            }
                        });
                    } else {
                        $('#divEdit').html(data);
                        return false;
                    }
                }
            });
        } else {
            // Update Account
            var url = '@Url.Action("Update", "Cyclic")';
            var urlCreate = '/Cyclic/Index';
           
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: areas + urlCreate,
                            success: function (data) {
                            $('#main-data').html(data);
                                AlterUpdateSuccess();
                            }
                        });
                    } else if (data == 'timeout') {
                        window.location.href = '/';
                    }
                    else {
                        $('#divEdit').html(data);
                    }
                    return false;
                }
            });
        };
    });
    // reset form
    $(document).on("click", "#btnReset", function () {
        var urlCreate = '/Cyclic/_Create';
        $.ajax({
            type: "GET",
            url: areas + urlCreate,
            success: function (data) {
                $('#divEdit').html(data);
            }
        });
    });

    // su kien keypress
    $(document).on("keyup", "#FromCyclic", function () {
        if ($("#FromCyclic").val() == 1) {
            $("#ToCyclic").val(31);
            $("#hToCyclic").val(31);
        } else {
            $("#ToCyclic").val($("#FromCyclic").val() - 1);
            $("#hToCyclic").val($("#FromCyclic").val() - 1);
        }

    });
</script>
}