<div class="contactPage">
    <div class="div_module">
        @*   <uc:company_intro ID="company_intro_ctrl" runat="server" />*@
        <div class="clear"></div>
        <hr />
        <div class="col2_inner">
            <div class="contact_us">
                <div class="news_ykien_description">
                    @*<table width="500" border="0" cellspacing="2">
                        <tr><td colspan="2" align="left">Nếu bạn có bất kỳ một yêu cầu hay ý kiến đóng góp nào, xin hãy sử dụng mẫu dưới đây</td></tr>
                        <tr>
                            <td width="100">Họ và tên bạn:</td>
                            <td align="left">
                                <asp:TextBox ID="txtName" TabIndex="1" runat="server" Width="300px"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="rfvName" runat="server" ForeColor="#FF0000" SetFocusOnError="true" Display="Dynamic" ValidationGroup="check"
                                                            ControlToValidate="txtName" ErrorMessage="*"></asp:RequiredFieldValidator>
                            </td>
                        </tr>
                        <tr>
                            <td width="100">Email của bạn:</td>
                            <td align="left">
                                <asp:textbox id="txtFrom" TabIndex="2" runat="server" Width="300px"></asp:textbox>

                            </td>
                        </tr>
                        <tr>
                            <td width="100">Tiêu đề:</td>
                            <td align="left">
                                <asp:textbox id="txtSubject" TabIndex="3" runat="server" Font-Names="Verdana"
                                             Width="300px"></asp:textbox>
                                <asp:RequiredFieldValidator ID="rfvSubject" runat="server" ForeColor="#FF0000" SetFocusOnError="true" Display="Dynamic" ValidationGroup="check"
                                                            ControlToValidate="txtSubject" ErrorMessage="*"></asp:RequiredFieldValidator>

                            </td>
                        </tr>
                        <tr valign"top">
                            <td width="100" valign="top">Nội dung:</td>
                            <td align="left">

                                <asp:textbox id="txtBody" TabIndex="4" runat="server" Font-Names="Verdana"
                                             columns="20" rows="2" textmode="MultiLine" width="300px" Height="120px"></asp:textbox>

                            </td>
                        </tr>
                        <tr>
                            <td width="100"> File đính kèm: </td>
                            <td align="left">

                                <input id="inpAttachment" TabIndex="5" type="file" size="15" name="filMyFile0" runat="server" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100">Mã bảo mật:</td>
                            <td align="left">
                                <div class="CaptchaWrapper">
                                    <div class="CaptchaBox">
                                        <div id="CaptchaImageDiv" class="CaptchaImageDiv">
                                            <img id="imgLoading" src="../../images/icons/loading.gif" alt='' style="display: none" />
                                            <input id="hiddenCaptcha" type="hidden" runat="server" />
                                        </div>
                                    </div>
                                    <div class="CaptchaIconsDiv">
                                        <div class="CaptchaHeadText">
                                            <h4>Nhập Captcha theo đúng hình trên: </h4>
                                        </div>
                                        <div class="CaptchaControls">
                                            <asp:TextBox ID="txtCaptcha" Width="140" TabIndex="6" runat="server"></asp:TextBox>
                                            <asp:Label ID="lblResult" runat="server" Text=""></asp:Label>
                                            <input id="btnGetImage" class="BtnGetCapcha" type="button" value="Refresh" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                &nbsp;
                            </td>
                            <td align="left">

                                <asp:Button ID="btnSend" runat="server" Text="Gửi" Width="77px"
                                            onclick="btnSend_Click" />

                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <div id="response"></div>
                            </td>
                        </tr>
                    </table>*@
                </div>
            </div>

            <div class="div_box">
                @*  <uc:contactinfo ID="contactinfo_ctrl" runat="server" />
                    <uc:support_online ID="support_online_ctrl" runat="server" />*@
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>