@{
    ViewBag.Title = Eagle.Resource.LanguageResource.MailType;
    Layout = Request.IsAjaxRequest() ? null : Eagle.Repository.UI.Layout.LayoutType.FullMainLayout;
}
@section ContentSection
{
    <div id="MainBody" class="main_box">
        <div class="row">
            aaaaaaaaaaaaaaaaaaa
        </div>
    </div>
}
