@{
    ViewBag.Title = Eagle.Resource.LanguageResource.TrainingEvaluationTemplate;
    Layout = Eagle.Repository.UI.Layout.LayoutType.MainLayout;
}

@section ContentSection
{
<div id="MainBody">
   @Html.Partial("../TR/EvaluationTemplate/_Reset")
</div>

    }
<!--Confirm box-->
@Html.Action("ConfirmPopup","Common",null)


<script>
    var Controller = 'EvaluationTemplate';    
    var urlReset = areas + '/' + Controller + '/Index';    
    var urlAddNew = areas + '/' + Controller + '/Save';    
    var urlUpdate = areas + '/' + Controller + '/Update';
    var urlRedirect = areas + '/' + 'EvaluationTemplateList' + '/Index';    
</script>
<script>
    $(document).on("change", "#chkAll", function () {        
        if ($(this).attr('checked')) {
            $("input[name='Item_Checked']").prop("checked", true)
        } else {
            $("input[name='Item_Checked']").prop("checked", false)
        }

    });
    // AddNew a EvaluationTemplate
    $(document).on("click", "#btnAdd", function () {
        
        AddNew();
    });

    // Adding EvaluationTemplate with mode
    function AddNew() {

        $("body").addClass("loading");
        //Add new Item
        $.ajax({
            type: "POST",
            url: urlAddNew,
            data: $("#frmAdd").serialize(),
            success: function (data) {
                if (data == 'success') {
                    window.location.href = urlRedirect;
                } else if (data == 'timeout') {
                    window.location.href = '/';
                } else {
                    $('#divEdit').html(data);
                    $('html, body').animate({ scrollTop: 80 }, 'slow');
                }
            }
        });
    }

    // Reset a EvaluationTemplate
    $(document).on("click", "#btnReset", function () {
        
        Reset();      
    });
    function Reset() {

        $("body").addClass("loading");
        //Add new Item
        $.ajax({
            type: "POST",
            url: urlReset,            
            success: function (data) {
                $('#divEdit').html(data);
                $('html, body').animate({ scrollTop: 80 }, 'slow');
            }
        });
    }
</script>


