@{
    ViewBag.Title = Eagle.Resource.LanguageResource.TrainingRequestList;
    Layout = Eagle.Repository.UI.Layout.LayoutType.MainLayout;
}

@section ContentSection
{
<div id="MainBody">
   @Html.Partial("../Business/HumanResources/Training/TrainingRequestList/_Reset")
</div>
}
@Html.Action("ConfirmPopup","Common",null)

<script type="text/javascript">

    $('#changeSidebarPos').trigger('click');

    var urlSearch = areas + "/TrainingRequestList/_List"
    var urlCreate = areas + "/TrainingRequestList/_Create"
    var urlDelete = areas + "/TrainingRequestList/_Delete/"
    var urlResetListRequest = areas + "/TrainingRequestList/Index"
    
    $(document).on("click", "#btnSearch", function () {
        $("body").addClass("loading");
        $.ajax({
            type: "POST",
            url: urlSearch,
            data: $("#frmAdd").serialize(),
            success: function (data) {
                $('#divList').html(data);
            }
        });
    });    
</script>