@{
    ViewBag.Title = Eagle.Resource.LanguageResource.LeaveOfInsurance;   
}
<div id="MainBody">
    @Html.Partial("../Business/HumanResources/SecurityInsurance/LeaveInsurance/_Index")
</div>


@section Scripts{
<script type="text/javascript">
    var urlDelete = areas + "/LeaveInsurance/_Delete/"

    var strRequired = ' (<span class="color-red">*</span>)';
    $(document).on("click", "#btnAdd", function () {
        if (!$("#frmAdd").valid()) { // Not Valid
            $('.qtip').qtip("show");
            return false;
        }
        
        if ($('#btnAdd').hasClass("AddModel")) {
            //Nếu mà là sinh con mất thì phải nhập thông tin ngày sinh ngày mất
            if ($("#IsMAT").val() == 'true' && ($("input[name='BabyDOB']").val() == '' || $("input[name='BabyDOD']").val() == ''))
            {
                AlterWarning('Vui lòng nhập ngày sinh và ngày mất của em bé.');
            }
            else
            {
                var url = areas + '/LeaveInsurance/Save';
                var urlCreate = areas + '/LeaveInsurance/_Create';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#frmAdd").serialize(),
                    success: function (data) {
                        if (data == 'success') {
                            //AlterAddSuccess();

                            $.ajax({
                                type: "GET",
                                url: areas + '/LeaveInsurance/Index',
                                success: function (data) {
                                    $('#MainBody').html(data);
                                    AlterAddSuccess();
                                    return false;
                                }
                            });
                        } else {
                            $('#divEdit').html(data);
                            return false;
                        }
                    }
                });
            }
        } else {
            // không có cập nhật
            if ($("#IsMAT").val() == 'true' && ($("input[name='BabyDOB']").val() == '' || $("input[name='BabyDOD']").val() == '')) {
                AlterWarning('Vui lòng nhập ngày sinh và ngày mất của em bé.');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: areas + '/LeaveInsurance/Update',
                    data: $("#frmAdd").serialize(),
                    success: function (data) {
                        if (data == 'success') {
                            $.ajax({
                                type: "GET",
                                url: areas + '/LeaveInsurance/Index',
                                success: function (data) {
                                    $('#MainBody').html(data);
                                    AlterUpdateSuccess();
                                    return false;
                                }
                            });
                        } else {
                            $('#divEdit').html(data);
                            $('#btnAdd').removeClass("AddModel").addClass("EditModel");
                            return false;
                        }
                    }
                });
            }
        }
    });
    

    function CallAJAX(url) {
        $.ajax({
            type: "Get",
            url: url,
            success: function (data) {
                if ($(".moreInfo").hasClass("hidden")) {
                    $(".moreInfo").removeClass("hidden");
                }

                $("#lblTotal").html(data.Total);
                $("#lblAvgSalary").html(data.AvgSalaryText);
                $("#lblPercent").html(data.PercentText);
                $("#lblBenifitSalary").html(data.BenifitSalaryText);

                $("input[name='Total']").val(data.Total);
                $("input[name='AvgSalary'").val(data.AvgSalary);
                $("input[name='Percent'").val(data.Percent);
                $("input[name='BenifitSalary'").val(data.BenifitSalary);
            }
        });
    }
    /*hàm này dùng để lấy thông tin chi tiết: Lương Bình Quân, Phần trăm, Benifit Salary*/

    function GetDetailsInfo() {
        var EmpID = $("input[name='EmpID']").val();
        var FromDate = $("input[name='dFromDate']").val();
        var ToDate = $("input[name='dToDate']").val();
        var LSLeaveDayTypeID = $("input[name='LSLeaveDayTypeIDAlowNull']").val();

        var url = "/Admin/LeaveInsurance/GetInfo";
        url += "?EmpID=" + EmpID;
        url += "&FromDate=" + FromDate;
        url += "&ToDate=" + ToDate;
        url += "&LSLeaveDayTypeID=" + LSLeaveDayTypeID;
        

        if (EmpID != '' && FromDate != '' && ToDate != '' && LSLeaveDayTypeID != '') {
            if ($("#IsMAT").val() == 'true') {
                if ($("input[name='BabyDOB']").val() == '' || $("input[name='BabyDOD']").val() == '') {
                    return;
                } else {
                    url += "&BabyDOB=" + $("input[name='BabyDOB']").val();
                    url += "&BabyDOD=" + $("input[name='BabyDOD']").val();
                    CallAJAX(url);
                }
            } else {
                CallAJAX(url);
            }
        }
    }

    function resetHidden() {
        $("#IsMAT").val(false);
        if (!$(".Thai").hasClass("hidden")) {
            $(".Thai").addClass("hidden");
        }
        if (!$(".MTL").hasClass("hidden")) {
            $(".MTL").addClass("hidden");
        }
        if (!$(".MIS").hasClass("hidden")) {
            $(".MIS").addClass("hidden");
        }

        $("label[for='BabyDOB']").html('@Eagle.Resource.LanguageResource.BabyDOB');
        $("label[for='BabyDOD']").html('@Eagle.Resource.LanguageResource.BabyDOD');
    }
    $(document).on("change", "input[name='LSLeaveDayTypeIDAlowNull']", function () {
        $.ajax({
            url: "/Admin/LeaveInsurance/CheckLSLeaveTypeCode?LSLeaveDayTypeID=" + $(this).val(),
            type: "Get",
            success: function (data) {
                resetHidden();
                switch (data) {
                    case 'MAT':
                        //Sinh  con mà con mất
                        if ($(".Thai").hasClass("hidden")) {
                            $(".Thai").removeClass("hidden");
                        }
                        if ($(".MTL").hasClass("hidden")) {
                            $(".MTL").removeClass("hidden");
                            $("label[for='BabyDOB']").append(strRequired);
                        }
                        if ($(".MIS").hasClass("hidden")) {
                            $(".MIS").removeClass("hidden");
                            $("label[for='BabyDOD']").append(strRequired);
                        }

                        $("#IsMAT").val(true);
                        break;
                    case 'MTL1':
                    case 'MTL2':
                    case 'MTL3':
                    case 'MTL4':
                    case 'MTL5':
                        //Nghỉ thai sản
                        if ($(".Thai").hasClass("hidden")) {
                            $(".Thai").removeClass("hidden");
                        }
                        if ($(".MTL").hasClass("hidden")) {
                            $(".MTL").removeClass("hidden");
                        }
                        break;
                    //case 'MIS':
                    //    resetHidden();
                    //    //Nghỉ sảy thai
                    //    if ($(".Thai").hasClass("hidden")) {
                    //        $(".Thai").removeClass("hidden");
                    //    }
                    //    if ($(".MIS").hasClass("hidden")) {
                    //        $(".MIS").removeClass("hidden");
                    //    }
                    //    break;
                    default:
                        break;
                }
                GetDetailsInfo();
            }
        });
    });
    $(document).on("change", "input[name='dFromDate']", function () {
        GetDetailsInfo();
    });
    $(document).on("change", "input[name='dToDate']", function () {
        GetDetailsInfo();
    });
    $(document).on("change", "input[name='BabyDOB']", function () {
        GetDetailsInfo();
    });
    $(document).on("change", "input[name='BabyDOD']", function () {
        GetDetailsInfo();
    });


    function ChooseEmployee(id, code, fullName, company, position, controlId) {
        $("body").addClass("loading");
        //Set value
        $('#frmAdd #EmpID').val(id);
        $('#EmpCode').val(code);
        $('#FullName').val(fullName);
        $('#lblCompanyName').html(company);
        $('#lblPosition').html(position);

        $('.popupEmp').modal('hide');
        /*remove qtip*/
        var qtip = $('#strEmpName').attr('aria-describedby');
        $('#' + qtip).remove();

        $.ajax({
            url: areas + "/Common/EmployeeDisplay/?EmpID=" + id,
            encoding: "UTF-8",
            dataType: "html",
            contentType: "text/plain; charset=UTF-8",
            success: function (data) {
                $('#LeftPane #avatar-display').html(data);
                //Reset du lieu
                $.ajax({
                    type: "GET",
                    url: areas + '/LeaveInsurance/Index',
                    success: function (data) {
                        $('#MainBody').html(data);
                    }
                });
            }
        });
    }

    $(document).on("click", ".deleteItem", function () {
        var lsID = $(this).data('id');  // ID cua dong du lieu

        bootbox.confirm("@Html.Raw(Eagle.Resource.LanguageResource.DoYouWantToContinue)", function (result) {
            if (result) {
                $("body").addClass("loading");
                $.ajax({
                    type: "POST",
                    url: urlDelete + lsID,
                    success: function (data) {
                        if (data == 'success') {
                            $.ajax({
                                type: "GET",
                                url: "index",
                                success: function (data) {
                                    $('#MainBody').html(data);
                                    AlterUpdateSuccess();
                                    $('html, body').animate({ scrollTop: 80 }, 'slow');
                                }
                            });
                        } else {
                            $('#divEdit').html(data);
                            $('html, body').animate({ scrollTop: 80 }, 'slow');
                        }
                    }
                });
                return false;
            }
        });

    })

    $(document).on("click", ".editItem", function () {
        $("body").addClass("loading");
        var id = $(this).data("id");
        $.ajax({
            type: "GET",
            url: areas + '/LeaveInsurance/_Edit?id='+id,
            success: function (data) {
                $('#divEdit').html(data);
                $('#btnAdd').removeClass("AddModel").addClass("EditModel");
                $('html, body').animate({ scrollTop: 80 }, 'slow');
            }
        });
    });

    $(document).on("click", "#btnReset", function () {
        $("body").addClass("loading");
        $.ajax({
            type: "GET",
            url: "_Create",
            success: function (data) {
                $('#divEdit').html(data);
                $('html, body').animate({ scrollTop: 80 }, 'slow');
            }
        });
    });
</script>
}